*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

#header{
    background-color: #291b24;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

#logo{
    width: 150px;
}

#menu{
    display: flex;
    gap: 10px; 
}

#menu a{
    color: #f1efef;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 20px;
    border-bottom: solid 3px transparent;
}

#menu a:hover{
    border-bottom: solid 3px #ce2245;
    transition: border 0.7s ease;
}

#search{
    display: flex;

}

#search input{
    background-color: #F40B39;
    font-size: 18px;
    padding: 10px;
    color: #000;
    outline: none;
}

#search input:focus{
    box-shadow: #291b24 0px 6px 12px -2px, #291b24 0px 3px 7px -3px;
}

#search span{
    background-color: #557f98;
    color: #f1efef;
    padding: 10px;
    cursor: pointer;
}

#search span:hover{
    box-shadow: hsl(202, 53%, 60%) 0px -23px 25px 0px inset, hsl(202, 53%, 60%) -36px 30px 0px inset, hsl(202, 53%, 60%) 0px -79px 40px 0px inset, hsl(202, 53%, 60%) 0px 2px 1px, hsl(202, 53%, 60%) 0px 4px 2px, hsl(202, 53%, 60%) 0px 8px 4px, hsl(202, 53%, 60%) 0px 16px 8px, hsl(202, 53%, 60%) 0px 32px 16px;
}

#capa{
    background-color: #F40B39;
    padding: 60px 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}

#texto{
    width: 50%;
}

#texto h1{
    color: #f1efef;
    font-size: 45px;
    margin-bottom: 50px;
}

#texto p{
    color: #f1efef;
    font-size: 20px;
    margin-bottom: 50px;
}
#botoes{
    display: flex;
    gap: 20px;
}

#primario{
    background-color: #557f98;
    color: #f1efef;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: solid 3px #557f98;
}

#primario:hover{
    background-color: #62a2c7;
    border: solid 3px #62a2c7;
    transition: all 0.5s ease;
}

#imagem{
    width: 50%;
}

#imagem img{
    width: 90%;
}

#capa-video{
    background-color: #e25d77;
    padding: 60px 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}

#capa-video #texto h1{
    color: #000;
}

#capa-video #texto p{
    color: #000;
}

#capa-video #primario{
    background-color: #f40b39;
    border: #f40b39;
}

#capa-video #primario:hover{
    cursor: pointer;
    box-shadow: #1c1319 1.95px 1.95px 2.6px;
    transition: all 0.5s ease;
    background-color: #f40b39;
}
#services{
    padding: 60px 100px;
    text-align: center;
}

#services h1{
    font-size: 45px;
}

#services p{
    font-size: 20px;
    margin-bottom: 25px;
}

#cards-services{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.services-pet{
    background-color: #f1efef;
    border-radius: 8px;
    width: 350px;
    text-align: left;
    padding: 10px;
}

#cards-services .services-pet h1{
    font-size: 20px;
}

#cards-services .services-pet #price{
    font-size: 25px;
    font-weight: bold;
    color: #557f98;
}

#cards-services .services-pet button{
    background-color: #557f98;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 8px;
    color: #f1efef;
}

#cards-services .services-pet button:hover{
    cursor: pointer;
    box-shadow: #1c1319 1.95px 1.95px 2.6px;
    transition: all 0.5s ease;
    background-color: #557f98;
}

/* DIV */
#image{
    overflow: hidden;
    height: 280px;
}

/* A propria imagem */
#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* BANNER */

#banner{
    background-color: #291b24;
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

#texto-banner{
    display: flex;
    flex-direction: column;
    width: 250px;
}

#texto-banner h1{
    color: #f40b39;
    font-size: 35px;
    margin-bottom: 20px;
}

#texto-banner p{
    color: white;
    font-size: 18px;
    margin-bottom:15px;
    line-height: 1.8;
}

/* mudei aqui */

#button-banner{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* mudei aqui */

#button-banner button{
    padding: 10px;
    background-color: #f40b39;
    border-radius: 50%;
    display: flex;
}

#menu-banner{
    display: flex;
    flex-direction: column;
}

#menu-banner h1{
    color: #f40b39;
    font-size: 25px;
    margin-bottom: 10px;
}

#menu-banner a{
    text-decoration: none;
    color: white;
    line-height: 1.8;
}

/* mudei aqui */

#menu-banner a:hover{
    border-bottom: solid 3px #f40b39;
    transition: border 0.7s ease;
    width: 80px;
}

#info-banner{
    display: flex;
    flex-direction: column;
}

#info-banner h1{
    color: #f40b39;
    font-size: 25px;
    margin-bottom: 10px;
}

#info-banner p{
    line-height: 2.5;
    color: white;
}

#local-banner{
    display: flex;
    flex-direction: column;
    padding: 0px 100px 0px 0px;
}

#local-banner h1{
    color: #f40b39;
    font-size: 25px;
    margin-bottom: 10px;
}

#local-banner p{
    color: white;
    line-height: 1.8;
}

#local-banner button{
    padding: 10px;
    background-color: #f40b39;
    border-radius: 10px;
    width: 70%;
    margin-top: 20px;
    font-weight: bold;
}

#banner button:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s ease;
    background-color: #c20829;
}


/* DIREITOS */

#direitos{
    background-color: #1c1319;
    text-align: center;
    padding: 20px 100px;
    color: white;
}