*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

header{
    background-color: #291b24;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

#logo{
    width: 150px;
}

nav{
    display: flex;
    gap: 10px; 
}

hr{
    margin-top: 10px;
    border: solid 1px #f40b39;
    background-color: #f40b39;
}

nav a{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    padding: 5px 20px;
    border-bottom: solid 3px transparent;
}

#menu a:hover{
    border-bottom: solid 3px #f40b39;
    transition: border 0.7s ease;
}

#search{
    display: flex;

}

#search input{
    background-color: #f40b39;
    font-size: 18px;
    padding: 10px;
    color: #000;
    outline: none;
}

#search input:focus{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#search span{
    background-color: #557f98;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

#search span:hover{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#capa{
    background-color: #f40b39;
    padding: 0px 100px 0px 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}

#texto{
    width: 50%;
}

#texto h1{
    color: #fff;
    font-size: 45px;
    margin-bottom: 50px;
}

#texto p{
    color: #fff;
    font-size: 20px;
    margin-bottom: 50px;
}
#botoes{
    display: flex;
    gap: 20px;
}

#primario{
    background-color: #557f98;
    color: #fff;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: solid 3px #557f98;
}

#primario:hover{
    background-color: #3c596a;
    border: solid 3px #3c596a;
    transition: all 0.5s ease;
}

#secundario{
    background-color: transparent;
    color: #f1efef;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: solid 3px #f1efef;
}

#secundario:hover{
    background-color: #f1efef;
    border: solid 3px #dedede;
    color: #000;
    transition: all 0.5s ease;
}

#imagem{
    width: 200px;
}

#imagem img{
    width: 800px;
    display: flex;
}

#capa-video{
    background-color: #ffffff;
    padding: 60px 100px;
    display: flex;
    align-items: center;
    gap: 50px;
}

#capa-video #texto h1{
    color: #000;
}

#capa-video #texto p{
    color: #000;
}

#capa-video #primario{
    background-color: #f40b39;
    border: #f40b39;
}

#capa-video #primario:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.5s ease;
    background-color: #f40b39;
}


#historico{
    background-color: #f40b39;
    padding: 60px 100px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    /* Coloca um fundo feito de imagens */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHR6MoJh6RBf7tk35c5NZJxUMQJTvhFX1Qaw&s');
    background-position: center;
    position: relative;
}

#historico::before{
    /* define o nível, o plano de um elemento, a camada do elemento */
    z-index: 1;
    background-color:  rgba(244, 11, 57, 0.9);
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-historico{
    font-size: 24px;
    text-align: center;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#services{
    padding: 60px 100px;
    text-align: center;
}

#services h1{
    font-size: 45px;
}

#services p{
    font-size: 20px;
    margin-bottom: 25px;
}

#cards-services{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.services-pet{
    background-color: rgb(231, 231, 231);
    border-radius: 8px;
    width: 350px;
    text-align: left;
    padding: 10px;
}

#cards-services .services-pet h1{
    font-size: 20px;
}

#cards-services .services-pet #price{
    font-size: 25px;
    font-weight: bold;
    color: #557f98;
}

#cards-services .services-pet button{
    background-color: #557f98;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 8px;
    color: white;
}

#cards-services .services-pet button:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.5s ease;
    background-color: #3c596a;
}

/* DIV */
#image{
    overflow: hidden;
    height: 200px;
}

/* A propria imagem */
#image img{
    width: 100%;
    height: 100%;
}

/* EQUIPE */
#equipe{
    background-color: #FD8DA3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#equipe h1{
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: bold;
}

#equipe p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
}

#cards-equipe{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
    flex-wrap: wrap;
        justify-content: center;
}

#cards-equipe .image-equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 8px;
    gap: 10px;
    width: 350px;
    border-radius: 8px;
    border: solid 3px white;
}

#cards-equipe .image-equipe:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.5s ease;
    border: solid 3px #f40b39;
}

#cards-equipe .image-equipe p{
    color: #291B24;
    text-align: center;
    font-size: 25px;
}

#cards-equipe .image-equipe h2{
    color: black;
    font-size: 30px;
}

#cards-equipe .image-equipe img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

/* BANNER */

footer{
    background-color: #291b24;
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h1{
    color: #f40b39;
    font-size: 25px;
    margin-bottom: 10px;
}

footer p{
    color: white;
    line-height: 1.8;
}

#texto-banner{
    display: flex;
    flex-direction: column;
    width: 250px;
}

#texto-banner h1{
    color: #f40b39;
    font-size: 35px;
    margin-bottom: 20px;
}

#texto-banner p{
    color: white;
    font-size: 18px;
    margin-bottom:15px;
    line-height: 1.8;
}

#button-banner{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#button-banner button{
    padding: 10px;
    background-color: #f40b39;
    border-radius: 50%;
    display: flex;
}

#footer-nav{
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#footer-nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 1.4;
}

#footer-nav a:hover{
    border-bottom: solid 3px #f40b39;
    transition: border 0.7s ease;
    width: 100px;
}

#local-banner{
    display: flex;
    flex-direction: column;
    padding: 0px 100px 0px 0px;
}

#local-banner button{
    padding: 10px;
    background-color: #f40b39;
    border-radius: 10px;
    width: 70%;
    margin-top: 20px;
    font-weight: bold;
}

#banner button:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.5s ease;
    background-color: #c20829;
}

#direitos{
    background-color: #1c1319;
    padding: 20px 100px;
    color: white;
    text-align: center;
}